<div class="content-wrapper p-3">

  <div id="print">
    <a routerLink="#"><button mat-raised-button color="warn"><i
          class="fa-solid fa-print fa-lg"></i><span>ปริ้นแบบฟอร์ม</span></button></a>
  </div>

  <div class="row">
    <div class="col-md-4">
      <p>ชื่อ-สกุลชาวไร่ : {{fmname}}</p>
    </div>
    <div class="col-md-4">
      <p>เลขที่บัญชี : ...</p>
    </div>
    <div class="col-md-4">
      <p>เบอร์โทรศัพท์ : ...</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <p>วันที่ปลูก : ...</p>
    </div>
    <div class="col-md-4">
      <p>อายุอ้อย : ... วัน</p>
    </div>
    <div class="col-md-4">
      <p>ประเภทอ้อย : ...</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <p>หมายเลขแปลง : ...</p>
    </div>
    <div class="col-md-4">
      <p>เป้าหมาย : ... ตัน/ไร่</p>
    </div>
    <div class="col-md-4">
      <p>ประเมิน : ... ตัน/ไร่</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <p>รูปแปลง : ...</p>
    </div>
    <div class="col-md-4">
      <p>รายละเอียดแปลงเพิ่มเติม : ...</p>
    </div>
    <div class="col-md-4">
      <p>นอส.รับผิดชอบ: ...</p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead class="thead-dark" align="center">
            <tr>
              <th scope="col">#</th>
              <th scope="col">กิจกรรมเพิ่มผลผลิต</th>
              <th scope="col">วางแผนที่จะทำ</th>
              <th scope="col">วันที่ทำจริง</th>
              <th scope="col">ทันเวลา</th>
              <th scope="col">วิธีการทำ</th>
              <th scope="col">อื่น ๆ</th>
              <th scope="col">จัดการ</th>
            </tr>
          </thead>
          <tbody align="center">
            <tr>
              <td scope="row">1</td>
              <td>kkk</td>
              <td>fff</td>
              <td>ggg</td>
              <td>ddd</td>
              <td>lll</td>
              <td>ppp</td>
              <td><button class="btn fa-solid fa-pen-to-square" onclick="showSqcFormEditBox(id)" style="color: #005eff;"></button>
                <button class="btn fa-solid fa-trash" onclick="ScqFormDelete(id)" style="color: #ff0000;"></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <button mat-raised-button color="primary" routerLink="/Plot">ย้อนกลับ</button>
    </div>
  </div>
</div>
