<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a class="brand-link">
    <img [src]="imglogo" alt="BRR" class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">BRR</span>
    <!-- <button class="btn close-btn px-1 py-0 text-white"><i class="fa-solid fa-xmark"></i></button> -->
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img [src]="imguser" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="#" class="d-block">BRF</a>
      </div>

    </div>

    <!-- SidebarSearch Form -->
    <div class="form-inline">
      <div class="input-group" data-widget="sidebar-search">
        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-sidebar">
            <i class="fas fa-search fa-fw"></i>
          </button>
        </div>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
        <li class="nav-item">
        <a href="#" class="nav-link">
          <i class="fa-solid fa-clipboard fa-xl"></i>
            <p>
              บันทึกกิจกรรม
              <i class="right fas fa-angle-left"></i>
            </p>
        </a>
        <ul class="nav nav-treeview">
          <li class="nav-item">
            <a routerLink="/กิจกรรมรายแปลง" class="nav-link active">
              <i class="far fa-circle nav-icon"></i>
              <p>กิจกรรมรายแปลง</p>
            </a>
          </li>
        </ul>
        </li>

        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="fa-solid fa-chart-pie fa-xl"></i>
            <p>
              สรุปกิจกรรมแปลง
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="/สรุปรายชาวไร่" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>รายชาวไร่</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/สรุปรายแปลง" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>รายแปลง</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a routerLink="/ข้อมูลแปลงอ้อย" class="nav-link">
            <i class="fa-sharp fa-solid fa-database fa-xl"></i>
            <p>
              ข้อมูลแปลงอ้อย
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/จัดกลุ่มคิวอ้อย" class="nav-link">
            <i class="fa-sharp fa-solid fa-layer-group fa-xl"></i>
            <p>
              จัดกลุ่มคิวอ้อย
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/แผนที่แปลงอ้อย" class="nav-link">
            <i class="fa-solid fa-map-location-dot fa-xl"></i>
            <p>
              แผนที่แปลงอ้อย
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="" class="nav-link">
            <i class="fa-solid fa-arrow-right-from-bracket fa-xl"></i>
            <p>
              Log out
            </p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
