p {
  font-size: 20px;
  margin-bottom: 1rem;
}

.example-full-width {
  width: 19rem;
  margin-top: 1rem;
  margin-right: 1rem;
}

button {
  margin-left: 1rem;
  margin-bottom: 1rem;
  width: fit-content;
}

.span {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}
