<div class="mt-3">
  <form class="example-form" >
    <p align="center">แบบรายงานการตรวจกิจกรรมแปลงผลผลิตสูง ปี 2566/67</p>
  
          <mat-form-field class="example-full-width">
            <mat-label>ชื่อ-สกุลชาวไร่</mat-label>
            <input matInput>
          </mat-form-field>
     
          <mat-form-field class="example-full-width">
            <mat-label>เลขที่บัญชี</mat-label>
            <input matInput>
          </mat-form-field>
        
          <mat-form-field class="example-full-width">
            <mat-label>เบอร์โทรศัพท์</mat-label>
            <input matInput>
          </mat-form-field>
     
          <mat-form-field class="example-full-width">
            <mat-label>วันที่ปลูก</mat-label>
            <input matInput>
          </mat-form-field>
        
          <mat-form-field class="example-full-width">
            <mat-label>อายุอ้อย</mat-label>
            <input matInput>
          </mat-form-field>
       
          <mat-form-field class="example-full-width">
            <mat-label>ประเภทอ้อย</mat-label>
            <input matInput>
          </mat-form-field>
    
          <mat-form-field  id="textarea">
            <mat-label>รายละเอียดแปลงเพิ่มเติม</mat-label>
            <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
          </mat-form-field><br>

          <mat-form-field class="example-full-width">
            <mat-label>เป้าหมาย</mat-label>
            <input matInput>
          </mat-form-field>
      
          <mat-form-field class="example-full-width">
            <mat-label>ประเมิน</mat-label>
            <input matInput>
          </mat-form-field>
      
          <mat-form-field class="example-full-width">
            <mat-label>หมายเลขแปลง</mat-label>
            <input matInput>
          </mat-form-field>
     
          <div class="input-group">
            <input type="file" class="form-control" id="inputGroupFile" aria-describedby="inputGroupFileAddon" 
            aria-label="Upload" >
          </div>
            <button mat-raised-button color="primary" routerLink="/แบบฟอร์มกิจกรรมรายแปลง">บันทึก</button>
  </form>
</div>