p{
    font-size: 20px;
}

td{
    width: 350px;
}
.example-full-width{
    width: 350px;
    margin-left: 2rem;
}

#textarea{
    width: 1110px;
    margin-left: 2rem;
}
div.mt-3{
    background-color: blanchedalmond;
    width: 1200px;
    margin-left: 17rem;
    
}

.input-group{
    margin-bottom: 2rem;
    margin-left: 2rem;
    width:min-content
}

#inputGroupFile{
    width: fit-content;
    height: fit-content;
}

