<div class="content-wrapper P-3 pt-3">
  <p align="center">แบบรายงานการตรวจกิจกรรมแปลงผลผลิตสูง ปี 2566/67</p>

  <div class="span">
    <div class="row">
      <div class="col-md-4">
        <span>ชื่อ-สกุลชาวไร่ : ...</span>
      </div>
      <div class="col-md-4">
        <span>เลขที่บัญชี : ...</span>
      </div>
      <div class="col-md-4">
        <span>เบอร์โทรศัพท์ : ...</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <span>วันที่ปลูก : ...</span>
      </div>
      <div class="col-md-4">
        <span>อายุอ้อย : ... วัน</span>
      </div>
      <div class="col-md-4">
        <span>ประเภทอ้อย : ...</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <span>หมายเลขแปลง : ...</span>
      </div>
      <div class="col-md-4">
        <span>รูปแปลง : ...</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <mat-form-field class="example-full-width">
          <mat-label>ประเมิน*</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="example-full-width">
          <mat-label>เป้าหมาย*</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="example-full-width">
          <mat-label>รายละเอียด*</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
    </div>
    <div class="row p-2">
      <div class="col-lg-12">
        <div class="table-responsive">
          <table class="table">
            <thead align="center">
              <tr>
                <th scope="col">#</th>
                <th scope="col">กิจกรรมเพิ่มผลผลิต</th>
                <th scope="col">วางแผนที่จะทำ</th>
                <th scope="col">วันที่ทำจริง</th>
                <th scope="col">ทันเวลา</th>
                <th scope="col">คุณภาพ</th>
                <th scope="col">วิธีการทำ</th>
                <th scope="col">อื่น ๆ</th>
              </tr>
            </thead>
            <tbody align="center">
              <tr *ngFor="let d of ">
                <td scope="row"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
        <button mat-raised-button color="primary" routerLink="/PlotActivity">ย้อนกลับ</button>
        <button mat-raised-button color="accent" type="submit">บันทึก</button>
      </div>
    </div>

  </div>
