<div class="content-wrapper p-3">

  <div class="row">
    <div class="col-md-4">
      <p>เลขโควต้า : ...</p>
    </div>
    <div class="col-md-4">
      <p>ชื่อ-สกุลชาวไร่ : ...</p>
    </div>
    <div class="col-md-4">
      <p>หมายเลขแปลง : ...</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <p>นอส.รับผิดชอบ : ...</p>
    </div>
    <div class="col-md-4">
      <p>โซน : ...</p>
    </div>
    <div class="col-md-4">
      <p>ส่วน : ...</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <p>ประเภทอ้อย : ...</p>
    </div>
    <div class="col-md-4">
      <p>ชื่อประเภทอ้อย : ...</p>
    </div>
    <div class="col-md-4">
      <p>ตำแหน่งที่ตั้ง : ...</p>
    </div>
  </div>


  <div id="map" style="width: 600px; height: 400px;" align="center"></div>


  <button mat-raised-button color="primary" routerLink="/Map">ย้อนกลับ</button>
</div>


