button {
  margin-left: 1rem;
  margin-bottom: 1rem;
  width: fit-content;
}
.example-full-width{
width: 100px;
}



#case{
  margin-left: 6rem;
}

#total{
  margin-right: 6rem;
}

#stock{
  margin-right: 4rem;
}
