<<<<<<< HEAD
* {
  font-family: 'Bai Jamjuree', sans-serif;
  font-family: 'Chakra Petch', sans-serif;
  font-family: 'K2D', sans-serif;
  font-family: 'Mitr', sans-serif;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 60%;
}

.mat-mdc-table {
  width: 100%;
  max-height: 500px;
  overflow: auto;
  cursor: pointer;
}

#border {
  color: #005eff;
}

#map {
  color: green;
}

#delete {
  color: red;
}
a{
  margin-right: 1rem;
=======
.d-flex{
  margin-bottom: 1rem;
}
/*
 * Always set the map height explicitly to define the size of the div element
 * that contains the map.
 */
 #map {
  height: 100%;
}

/*
 * Optional: Makes the sample page fill the window.
 */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
>>>>>>> 858dfcc29d4b6496759d5501306dedb6e92ad9ec
}
