<<<<<<< HEAD
* {
  font-family: 'Bai Jamjuree', sans-serif;
  font-family: 'Chakra Petch', sans-serif;
  font-family: 'K2D', sans-serif;
  font-family: 'Mitr', sans-serif;
}
.mat-mdc-form-field {
  font-size: 14px;
  width: 60%;
}
.example-container {
  width: 100%;
  max-height: 500px;
  max-width: 100%;
  overflow: auto;
  cursor: pointer;
}
.material-icons{
  color: #005eff;
=======
<<<<<<< HEAD
#selected{
  opacity: 0.5;
>>>>>>> 858dfcc29d4b6496759d5501306dedb6e92ad9ec
}
=======
>>>>>>> 3fbea51366215eb16cd71b821a270da8cd7c6be3
