<div class="container-xxl mt-3">
  <div class="content-wrapper">
    <div class="d-flex">
      <div class="mr-auto p-2">
        <!-- <p>แบบฟอร์ม</p> -->
      </div>
      <div class="p-2"><button type="button" class="btn btn-light" routerLink="/แบบฟอร์มบันทึก">เพิ่มข้อมูล</button>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <table class="table table-bordered">
          <thead class="thead-dark" align="center">
            <tr >
              <th scope="col">#</th>
              <th scope="col">หมายเลขแปลง</th>
              <th scope="col">ชื่อชาวไร่</th>
              <th scope="col">นอส.รับผิดชอบ</th>
              <th scope="col">รายละเอียด</th>
            </tr>
          </thead>
          <tbody align="center">
            <tr >
              <td scope="row">1</td>
              <td>kkk</td>
              <td>ggg</td>
              <td>ddd</td>
              <td><a routerLink="/รายละเอียดกิจกรรม"><i class="fa-solid fa-folder">&#xe8f4;</i></a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
