.d-flex{
  margin-left: 1rem;
  margin-right: 2rem;
}

td{
  line-height: 3rem
}

button{
  margin-top: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.content-wrapper {
  background-color: white;
  margin-bottom: 1rem;
}

.row{
  margin-left: 1rem;
  margin-right: 1rem;
}

