<!-- <div class="content-wrapper p-3">
  <div class="row">
    <div class="col-lg-6 mt-3">
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="ค้นหาข้อมูล" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">ค้นหา</button>
      </form>
      <div class="table-responsive mt-3">
        <table class="table table-hover">
          <thead class="thead-dark" align="center">
            <tr>
              <th scope="col">#</th>
              <th scope="col">หมายเลขแปลง</th>
              <th scope="col">ชื่อ-สกุล</th>
              <th scope="col">โซน</th>
              <th scope="col">หัวหน้ากลุ่ม</th>
              <th scope="col">จัดกลุ่ม</th>
            </tr>
          </thead>
          <tbody align="center">
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td><button class="btn fa-solid fa-pen-to-square" onclick="showFormCreateBox()"
                  style="color: #005eff;"></button></td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

    <div class="col-lg-12 mt-3">
      <app-scq-forms></app-scq-forms>
    </div>

  </div>
  <app-scq-details></app-scq-details>
</div> -->
