* {
  font-family: 'Bai Jamjuree', sans-serif;
  font-family: 'Chakra Petch', sans-serif;
  font-family: 'K2D', sans-serif;
  font-family: 'Mitr', sans-serif;
}

.d-flex{
  margin-left: 1rem;
  margin-right: 2rem;
}

td{
  line-height: 3rem
}

button{
  margin-top: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.content-wrapper {
  background-color: white;
  margin-bottom: 1rem;
}

.row{
  margin-left: 1rem;
  margin-right: 1rem;
}

table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;

}


