* {
  font-family: 'Bai Jamjuree', sans-serif;
  font-family: 'Chakra Petch', sans-serif;
  font-family: 'K2D', sans-serif;
  font-family: 'Mitr', sans-serif;
<<<<<<< HEAD
=======
}

.d-flex{
  margin-left: 1rem;
  margin-right: 2rem;
}

td{
  line-height: 3rem
}

button{
  margin-top: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
>>>>>>> 3fbea51366215eb16cd71b821a270da8cd7c6be3
}

.content-wrapper {
  background-color: white;
  margin-bottom: 1rem;
}

.row{
  margin-left: 1rem;
  margin-right: 1rem;
}

<<<<<<< HEAD
=======
table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;

}

>>>>>>> 3fbea51366215eb16cd71b821a270da8cd7c6be3

