<div class="content-wrapper p-3">

  <div class="d-flex">
    <div class="mr-auto p-2">
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">เลขที่บัญชี</span>
        <input type="text" class="form-control" aria-label="Sizing input" aria-describedby="inputGroup-sizing-default" placeholder="เลขที่บัญชี">
        <button class="btn btn-outline-success" type="submit" >ค้นหา</button>
      </div>
    </div>
  </div>
<div class="table-responsive">
  <table class="table table-hover mt-3">
    <thead class="thead-dark" align="center">
      <tr>
        <th scope="col">#</th>
        <th scope="col">หมายเลขแปลง</th>
        <th scope="col">โซน</th>
        <th scope="col">นอส.</th>
        <th scope="col">ประเภทอ้อย</th>
        <th scope="col">พื้นที่</th>
        <th scope="col">ปลูกเสร็จ</th>
        <th scope="col">วงเงิน</th>
        <th scope="col">เลือก</th>

      </tr>
    </thead>
    <tbody align="center">
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>@mdo</td>
        <td><button class="btn fa-solid fa-pen-to-square"
          style="color: #005eff;" onclick="showFormCreateBox()"></button></td>
      </tr>
    </tbody>
  </table>
</div>
<app-promotion-money-detail></app-promotion-money-detail>
</div>
