<hr>
<div class="row">
    <div class="col-lg-12">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead class="thead-dark" align="center">
            <tr>
              <th scope="col">#</th>
              <th scope="col">โซน</th>
              <th scope="col">รูท</th>
              <th scope="col">หมายเลขแปลง</th>
              <th scope="col">ชื่อ-สกุล</th>
              <th scope="col">ประเภทอ้อย</th>
              <th scope="col">พื้นที่</th>
              <th scope="col">ประเมิน</th>
              <th scope="col">ตัน/ไร่</th>
              <th scope="col">อ้อยเข้าหีบ</th>
              <th scope="col">งวดตัด</th>
              <th scope="col">กลุ่มตัด</th>
              <th scope="col">การจัดการ</th>
            </tr>
          </thead>
          <tbody id="DetailScq" align="center">
            <tr>
              <td scope="row">1</td>
              <td>kkk</td>
              <td>fff</td>
              <td>ggg</td>
              <td>ddd</td>
              <td>lll</td>
              <td>ppp</td>
              <td>fff</td>
              <td>ggg</td>
              <td>ddd</td>
              <td>lll</td>
              <td>ppp</td>
              <td><button class="btn fa-solid fa-pen-to-square" onclick="showFormEdit(id)" style="color: #005eff;"></button>
                <button class="btn fa-solid fa-trash" onclick="FormDelete(id)" style="color: #ff0000;"></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
