@use "@angular/material" as mat;
@include mat.core();

$my-primary: mat.define-palette(mat.$blue-palette, 800);
$my-accent: mat.define-palette(mat.$purple-palette, A400);
$my-warn: mat.define-palette(mat.$red-palette, 800);
$my-secondary: mat.define-palette(mat.$gray-palette, 500);

<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 858dfcc29d4b6496759d5501306dedb6e92ad9ec
$my-theme: mat.define-light-theme((

color: (
  "primary": $my-primary,
        "accent": $my-accent,
        "warn": $my-warn,
        "secondary": $my-secondary,
        // "success": $success,
        // "info": $info,
        // "warning": $warning,
        // "danger": $danger,
        // "light": $light,
        // "dark": $dark
        ),

      typography: mat.define-typography-config(),
      density: 0,
    ));
<<<<<<< HEAD
=======
=======
$my-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
      warn: $my-warn
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);
>>>>>>> 3fbea51366215eb16cd71b821a270da8cd7c6be3
>>>>>>> 858dfcc29d4b6496759d5501306dedb6e92ad9ec

@include mat.all-component-themes($my-theme);
